openapi: 3.1.0
info:
  title: Dreamboard API
  description: API for managing board games and game sessions in Dreamboard
  version: 1.0.0
  contact:
    name: Dreamboard Team
servers:
  - url: https://dreamboard.games
    description: Production server
  - url: http://localhost:8080
    description: Development server
security:
  - BearerAuth: []
tags:
  - name: Health
    description: Health check endpoints
  - name: Games
    description: Game management operations
  - name: Rulebooks
    description: Rulebook query operations
  - name: Sessions
    description: Game session and lobby management
  - name: UI Bundles
    description: UI bundle fetching and management
  - name: Agent
    description: AI agent operations for manifest generation
  - name: WebSocket
    description: Real-time communication
  - name: Webhooks
    description: Webhook endpoints called by external services
  - name: Sandbox
    description: OpenCode sandbox session messaging
  - name: Development
    description: Development and testing endpoints
paths:
  /:
    get:
      summary: Health check endpoint
      description: Returns a simple health check message
      operationId: healthCheck
      tags:
        - Health
      responses:
        "200":
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Hello World!
  /api/games:
    get:
      summary: List user's games
      description: Retrieve a list of all games owned by the authenticated user
      operationId: listGames
      tags:
        - Games
      parameters:
        - name: includeNotInitialized
          in: query
          description: Include games that haven't been fully initialized (missing rules, manifest, app, or UI). Defaults to false.
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Successfully retrieved games list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Game"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create a new game
      description: Create a new game definition
      operationId: createGame
      tags:
        - Games
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRequest"
      responses:
        "201":
          description: Game created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}:
    parameters:
      - $ref: "#/components/parameters/GameId"
    get:
      summary: Get game by ID
      description: Retrieve a specific game definition by its ID
      operationId: getGame
      tags:
        - Games
      responses:
        "200":
          description: Successfully retrieved game
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: Update game
      description: Update an existing game definition
      operationId: updateGame
      tags:
        - Games
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGameRequest"
      responses:
        "200":
          description: Game updated successfully
          content:
            application/json:
              schema:
                type: string
                description: Success message
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Delete game
      description: Delete a game definition permanently
      operationId: deleteGame
      tags:
        - Games
      responses:
        "200":
          description: Game deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteGameResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/slug/{slug}:
    parameters:
      - $ref: "#/components/parameters/GameSlug"
    get:
      summary: Get game by slug
      description: Retrieve a specific game definition by its slug
      operationId: getGameBySlug
      tags:
        - Games
      parameters:
        - name: includeDeleted
          in: query
          description: Include soft-deleted games in the lookup. Defaults to false.
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Successfully retrieved game
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/workshop/query:
    get:
      summary: Query rulebook text by title
      description: Search ranked rulebook candidates for the provided title, try up to the top 3 matches, and return extracted text from the first valid PDF found.
      operationId: queryWorkshopRulebook
      security:
        - BearerAuth: []
      tags:
        - Rulebooks
      parameters:
        - name: title
          in: query
          description: Board game title to search for in the rulebook library.
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Extracted rulebook text for the first valid candidate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopRuleTextResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/manifests:
    post:
      summary: Save game manifest
      description: Create a new versioned manifest for a game. Each save creates a new version with automatic version numbering.
      operationId: saveManifest
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveManifestRequest"
      responses:
        "201":
          description: Manifest saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveManifestResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: Find manifests for game
      description: Retrieve a list of manifest versions for a game, ordered by version descending (newest first)
      operationId: findManifests
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of manifests to return (default: 10, max: 100)"
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
        - name: ruleId
          in: query
          description: Filter to only return manifests for a specific rule
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Manifests retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindManifestsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/manifests/{manifestId}:
    parameters:
      - name: manifestId
        in: path
        required: true
        description: Unique identifier for the manifest
        schema:
          type: string
          format: uuid
    get:
      summary: Get manifest by ID
      description: Retrieve a specific manifest version by its ID with full board manifest details
      operationId: getManifest
      security:
        - BearerAuth: []
      tags:
        - Games
      responses:
        "200":
          description: Manifest retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameManifestDto"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/compiled-results/latest:
    get:
      summary: Get latest compiled result for a game
      description: Return the most recent compiled result for the specified game.
      operationId: getLatestCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: successOnly
          in: query
          description: If true, only return results where success=true and uiStorageKey is present
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Latest compiled result found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/compiled-results:
    get:
      summary: List compiled results for a game
      description: Retrieve a list of compiled results for a game, ordered by creation date descending (newest first). Includes both successful and failed compilations.
      operationId: listCompiledResults
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Compiled results retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompiledResultsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Compile a source revision for a game
      description: Compile a specific source revision with the provided manifest and rule IDs. Returns the newly created compiled result, including failed compilations with diagnostics.
      operationId: createCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompiledResultRequest"
      responses:
        "201":
          description: Compiled result created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/download:
    get:
      summary: Download authored game source files
      description: Download the authored source files for the selected compiled result as a ZIP archive. The source files are resolved through the compiled result's source revision.
      operationId: downloadGameSources
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: ZIP archive containing source files
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/sources:
    get:
      summary: Get authored game source files
      description: Retrieve authored source files as JSON for the selected compiled result. Source files are resolved through the compiled result's source revision.
      operationId: getGameSources
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: resultId
          in: query
          required: false
          description: Optional compiled result ID to fetch sources from. If not provided, uses the latest result.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Source files retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameSourcesResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/scaffold/v3:
    post:
      summary: Generate dynamic scaffold files from manifest
      description: "Returns manifest-derived scaffold files split by ownership semantics: generated files (always replaceable) and seed files (generated then user-owned)."
      operationId: scaffoldGameSourcesV3
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DynamicScaffoldRequest"
      responses:
        "200":
          description: Dynamic scaffolding completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicScaffoldResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/source-revisions:
    post:
      summary: Create a source revision for a game
      description: Create a new authored source revision from an inline change set. The request must be based on the current head revision for the game.
      operationId: createSourceRevision
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceRevisionRequest"
      responses:
        "201":
          description: Source revision created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceRevision"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          description: Base source revision does not match the current head revision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/source-revisions/bundle:
    post:
      summary: Create a source revision for a game from a gzip bundle
      description: Create a new authored source revision from a gzip-compressed JSON payload matching CreateSourceRevisionRequest.
      operationId: createSourceRevisionBundle
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: Source revision created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceRevision"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          description: Base source revision does not match the current head revision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/scripts:
    get:
      summary: Get game scripts
      description: Retrieve all compiled app and UI scripts for a specific manifest
      operationId: getGameScripts
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: manifestId
          in: query
          required: true
          description: The manifest ID to get compiled scripts for
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Game scripts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameScriptsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/agent-chat-context:
    get:
      summary: Get agent chat context
      description: |
        Retrieve all initial data needed for the agent chat page in a single request.
        Returns rules, manifests for the latest rule, and scripts for the latest manifest,
        with pre-selected defaults to eliminate client-side auto-selection logic.
      operationId: getAgentChatContext
      security:
        - BearerAuth: []
      tags:
        - Agent Chat
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Agent chat context retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentChatContextResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/jobs/active:
    parameters:
      - $ref: "#/components/parameters/GameId"
    get:
      summary: Get active job for a game
      description: Returns the currently active (PENDING or RUNNING) job for a game, if any. Jobs older than 15 minutes are considered stale and ignored.
      operationId: getActiveJob
      security:
        - BearerAuth: []
      tags:
        - Jobs
      responses:
        "200":
          description: Active job status (null if no active job)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveJobResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/rules:
    post:
      summary: Create a new game rule
      description: Create a new versioned rule for a game. Each save creates a new version with automatic version numbering.
      operationId: createGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRuleRequest"
      responses:
        "201":
          description: Game rule created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGameRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List game rules for a game
      description: Retrieve a list of rule versions for a game, ordered by version descending (newest first)
      operationId: listGameRules
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of rules to return (default: 10, max: 100)"
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
      responses:
        "200":
          description: Game rules retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameRulesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/rules/latest:
    get:
      summary: Get the latest game rule
      description: Retrieve the most recent rule version for a game with full details including the complete rule text
      operationId: getLatestGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Latest game rule retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRule"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/rules/{ruleId}:
    parameters:
      - name: ruleId
        in: path
        required: true
        description: Unique identifier for the game rule
        schema:
          type: string
          format: uuid
    get:
      summary: Get game rule by ID
      description: Retrieve a specific game rule version by its ID with full details
      operationId: getGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      responses:
        "200":
          description: Game rule retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRule"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/sessions:
    post:
      summary: Create a new game session
      description: Create a new game session in lobby phase with initial seat configuration
      operationId: createSession
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
      responses:
        "201":
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/code/{shortCode}:
    parameters:
      - name: shortCode
        in: path
        required: true
        description: Memorable short code for the session (e.g., 'swift-falcon-73')
        schema:
          type: string
    get:
      summary: Get session by short code
      description: Look up a session using its memorable short code
      operationId: getSessionByShortCode
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Session found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionStatus"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/status:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Get session status
      description: Get current status and phase of a game session
      operationId: getSessionStatus
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Session status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionStatus"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/events:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Subscribe to session events (SSE)
      description: Server-Sent Events stream for real-time session updates. Supports event replay via lastMessageId query parameter using exclusive cursor semantics (events with ID > lastMessageId).
      operationId: subscribeToSessionEvents
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: lastMessageId
          in: query
          description: Last message ID received; server replays events with ID > lastMessageId
          schema:
            type: integer
            format: int64
          required: false
      responses:
        "200":
          description: SSE connection established
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/GameMessage"
                description: |
                  Server-Sent Events stream. Each event contains a JSON-serialized GameMessage.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/logs:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Subscribe to game logs (SSE)
      description: Server-Sent Events stream for real-time game engine console logs (stdout/stderr). Supports log replay via lastLogId query parameter for reconnection.
      operationId: subscribeToGameLogs
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: lastLogId
          in: query
          description: Last log ID received (for reconnection/replay)
          schema:
            type: integer
            format: int64
          required: false
      responses:
        "200":
          description: SSE connection established
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/LogMessageDto"
              description: |
                Server-Sent Events stream. Each event contains a JSON-serialized LogMessageDto.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/start:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Start the game
      description: Transition session from lobby to gameplay phase (host only)
      operationId: startGame
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Game started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartGameResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/actions:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Submit a player action
      description: Submit an action during gameplay phase
      operationId: submitAction
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitActionRequest"
      responses:
        "200":
          description: Action submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitActionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/validate-action:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Validate a player action
      description: Validate an action before submitting it. Returns validation result with error code if invalid.
      operationId: validateAction
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateActionRequest"
      responses:
        "200":
          description: Validation result returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateActionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Add a seat to the lobby
      description: Add a new seat to the lobby (host only, up to maxPlayers)
      operationId: addSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "201":
          description: Seat added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeatAssignment"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    patch:
      summary: Update seat settings
      description: Update seat display name and/or player color. User must be assigned to the seat.
      operationId: updateSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSeatRequest"
      responses:
        "200":
          description: Seat updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeatAssignment"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Remove a seat from the lobby
      description: Remove a seat from the lobby (host only, down to minPlayers)
      operationId: removeSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat removed successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}/assign:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Assign a seat to current user
      description: Assign the current authenticated user to a specific seat
      operationId: assignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat assigned successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/history/restore:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Restore game state from history
      description: Restore the game to a previous state from history (host only)
      operationId: restoreHistory
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreHistoryRequest"
      responses:
        "200":
          description: Game state restored successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}/unassign:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Unassign a seat
      description: Unassign the current user from a specific seat
      operationId: unassignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat unassigned successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/stream:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    get:
      summary: Stream conversation messages
      description: |
        SSE endpoint that streams all messages for a conversation.
        On connect, emits all persisted MessageEvents in order.
        Then continues streaming live events as they occur.
        All events use the same MessageEvent type for uniform handling.
      operationId: streamConversation
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "200":
          description: SSE stream of MessageEvent objects
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentProgressEvent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/cancel:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel job for conversation
      description: |
        Cancel the active job for a conversation. This is the unified cancellation endpoint
        that works for all job types. The backend will find the active job for the conversation
        and cancel it. Only the job owner can cancel it. Returns 204 regardless of whether
        a job was found (idempotent).
      operationId: cancelConversationJob
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "204":
          description: Job cancelled successfully (or no active job)
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations:
    get:
      summary: List conversations
      description: List all conversations for the current user, optionally filtered by gameId
      operationId: listConversations
      security:
        - BearerAuth: []
      tags:
        - Agent
      parameters:
        - name: gameId
          in: query
          required: true
          description: Filter conversations by game ID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Maximum number of conversations to return
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Successfully retrieved conversations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationsListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    delete:
      summary: Delete conversation
      description: Delete a conversation and all its messages
      operationId: deleteConversation
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "204":
          description: Conversation deleted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/jobs/{jobId}:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for any agent job
        schema:
          type: string
          format: uuid
    get:
      summary: Get job details
      description: Fetch details for a specific agent job, including created artifact IDs.
      operationId: getJob
      security:
        - BearerAuth: []
      tags:
        - Jobs
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/sandbox/messages:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Send message to sandbox
      description: |
        Send a prompt/message to the active OpenCode sandbox session for this conversation.
        The backend finds the active sandbox job for the conversation and forwards the
        message to the OpenCode server. Progress events are streamed via the existing
        conversation stream SSE endpoint.
      operationId: sendSandboxMessage
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendSandboxMessageRequest"
      responses:
        "200":
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendSandboxMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/sandbox/abort:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Abort sandbox session
      description: |
        Abort the OpenCode session running in the sandbox for this conversation.
        The backend finds the active sandbox job and sends an abort signal to the
        OpenCode server. Only the conversation owner can abort the session.
      operationId: abortSandboxSession
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      responses:
        "204":
          description: Abort signal sent successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sandbox/chat:
    post:
      summary: Send a chat message to sandbox
      description: |
        Send a message to the sandbox. If no sandbox session exists for this conversation,
        one is created automatically (provisions Modal sandbox, creates OpenCode session,
        starts background event persister). If no conversationId is provided, a new
        conversation is created. Clients should continue the task in
        /sandbox/{gameId}/{conversationId} while streaming events from
        GET /api/conversations/{conversationId}/stream.
      operationId: sandboxChat
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxChatRequest"
      responses:
        "200":
          description: Message sent, sandbox session active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxChatResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sandbox/abort:
    post:
      summary: Abort a sandbox session
      description: |
        Abort the sandbox session for a conversation. This stops the current OpenCode
        operation, cancels the background event persister, marks the AgentJob as cancelled,
        and emits a JobCancelledProgress event so the frontend SSE terminates cleanly.
      operationId: sandboxAbort
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxAbortRequest"
      responses:
        "204":
          description: Sandbox session aborted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/webhooks/sandbox/{jobId}/event:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for the agent job
        schema:
          type: string
          format: uuid
    post:
      summary: Receive sandbox webhook event
      description: Receive a progress event from the Modal sandbox. Called by the Modal Bridge service.
      operationId: receiveSandboxWebhookEvent
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxWebhookEventPayload"
      responses:
        "204":
          description: Event received successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/webhooks/sandbox/{jobId}/complete:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for the agent job
        schema:
          type: string
          format: uuid
    post:
      summary: Receive sandbox webhook completion
      description: Receive a completion notification from the Modal sandbox. Called by the Modal Bridge service.
      operationId: receiveSandboxWebhookComplete
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxWebhookCompletePayload"
      responses:
        "204":
          description: Completion received successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/ui-bundles/fetch:
    get:
      summary: Fetch UI bundle
      description: Fetch and return the HTML content of a UI bundle from Supabase storage based on the last compiled UI result
      operationId: fetchUiBundle
      security:
        - BearerAuth: []
      tags:
        - UI Bundles
      parameters:
        - name: gameId
          in: query
          description: ID of the game to fetch the UI bundle for
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: UI bundle HTML retrieved successfully
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the UI bundle
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  parameters:
    GameId:
      name: gameId
      in: path
      required: true
      description: Unique identifier for the game
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    GameSlug:
      name: slug
      in: path
      required: true
      description: URL-safe game slug
      schema:
        type: string
        example: my-game
    SessionId:
      name: sessionId
      in: path
      required: true
      description: Unique identifier for the game session
      schema:
        type: string
        format: uuid
        example: 987e6543-e21b-34d5-b678-542316174000
    PlayerId:
      name: playerId
      in: path
      required: true
      description: Unique identifier for the player (e.g., 'player-1')
      schema:
        type: string
        example: player-1
  responses:
    UnauthorizedError:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    BadRequestError:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ForbiddenError:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ConflictError:
      description: Conflict - version mismatch or resource state conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    GameMetadata:
      type: object
      properties:
        coverImage:
          type: string
          format: uri
          description: URL to the game's cover image
          nullable: true
        playTime:
          type: string
          description: Estimated play time
          enum:
            - 15-30 minutes
            - 30-60 minutes
            - 1-2 hours
            - 2-3 hours
            - 3+ hours
          nullable: true
        ageRange:
          type: string
          description: Recommended age range
          enum:
            - 3+
            - 6+
            - 8+
            - 10+
            - 12+
            - 14+
            - 16+
            - 18+
          nullable: true
        gameCategory:
          type: string
          description: Game category or genre
          enum:
            - Abstract
            - Strategy
            - Eurogame
            - Ameritrash
            - Card Game
            - Dice Game
            - Party Game
            - Cooperative
            - Competitive
            - Solo
            - Family Game
            - Wargame
            - Tile-Placement
            - Worker Placement
            - Deck Builder
          nullable: true
        keyMechanics:
          type: string
          description: Key game mechanics
          enum:
            - Area Control
            - Set Collection
            - Hand Management
            - Dice Rolling
            - Route Building
            - Pick-up and Deliver
            - Auction/Bidding
            - Hidden Roles
            - Bluffing
            - Push Your Luck
          nullable: true
    CompletedSteps:
      type: object
      description: Tracks which steps have been completed for a game
      properties:
        ruleSaved:
          type: boolean
          default: false
          description: Whether the rule has been saved (includes AI enhanced rules)
        manifestGenerated:
          type: boolean
          default: false
          description: Whether the manifest has been generated
        appBuilt:
          type: boolean
          default: false
          description: Whether the app has been built
        uiBuilt:
          type: boolean
          default: false
          description: Whether the UI has been built
    StepLightStatus:
      type: string
      description: Development status light shown in the dashboard
      enum:
        - yellow
        - green
        - red
    GameCompletionLights:
      type: object
      description: Per-area development lights shown for a game
      properties:
        rules:
          $ref: "#/components/schemas/StepLightStatus"
          description: Rule authoring status light
        manifest:
          $ref: "#/components/schemas/StepLightStatus"
          description: Manifest authoring status light
        phases:
          $ref: "#/components/schemas/StepLightStatus"
          description: Phase logic status light
        ui:
          $ref: "#/components/schemas/StepLightStatus"
          description: UI implementation status light
      required:
        - rules
        - manifest
        - phases
        - ui
    Game:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the game
        slug:
          type: string
          description: URL-safe game slug (lowercase kebab-case)
        name:
          type: string
          description: Display name of the game
          minLength: 1
          maxLength: 255
        description:
          type: string
          description: Detailed description of the game
          nullable: true
        ruleText:
          type: string
          description: Game rules text
          nullable: true
        public:
          type: boolean
          description: Whether the game is publicly visible
          default: false
        createdAt:
          type: string
          format: date-time
          description: When the game was created
        updatedAt:
          type: string
          format: date-time
          description: When the game was last updated
        scriptId:
          type: string
          description: ID of the script that defines the game logic
          nullable: true
        metadata:
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
        completedSteps:
          $ref: "#/components/schemas/CompletedSteps"
          description: Tracks which steps have been completed for this game
        completionLights:
          $ref: "#/components/schemas/GameCompletionLights"
          description: Color lights representing progress since scaffold for rules, manifest, phases, and UI
        readyToPlay:
          type: boolean
          description: Whether the game is ready to play (all completion lights are green)
          default: false
        initialized:
          type: boolean
          description: "Whether the game has completed initial setup (all steps complete: rule saved, manifest generated, app built, UI built)"
          default: false
      required:
        - id
        - slug
        - name
        - public
        - createdAt
        - updatedAt
        - completedSteps
        - completionLights
        - readyToPlay
        - initialized
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message
        errors:
          type: array
          items:
            type: string
          description: List of specific error details
          nullable: true
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the error
          nullable: true
      required:
        - message
    CreateGameRequest:
      type: object
      description: Request to create a new game
      properties:
        slug:
          type: string
          description: URL-safe game slug (lowercase kebab-case). Optional for legacy clients.
          nullable: true
        name:
          type: string
          description: "Name of the game (default: 'Untitled Game')"
          maxLength: 200
        description:
          type: string
          description: Optional description of the game
          maxLength: 1000
          nullable: true
        ruleText:
          type: string
          description: Optional initial rule text
          maxLength: 50000
        enhanceRule:
          type: boolean
          description: Whether to enhance the rules using AI before saving
          default: false
    PresetCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the card set
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - preset
          description: Type of card set source
      required:
        - id
        - name
        - type
    PropertySchema:
      type: object
      properties:
        type:
          type: string
          enum:
            - string
            - integer
            - number
            - boolean
            - deckId
            - cardId
            - playerId
            - array
            - object
            - enum
          description: The data type of the property.
        description:
          type: string
          description: Optional description of the property's purpose and usage.
          nullable: true
        items:
          $ref: "#/components/schemas/PropertySchema"
          description: For array types, the schema of the array items. Required if type is 'array'.
          nullable: true
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: For object types, the schema of the object's properties. Required if type is 'object'.
          nullable: true
        enums:
          type: array
          items:
            type: string
          description: For enum types, the list of allowed string values. Required if type is 'enum'.
          nullable: true
      required:
        - type
    ObjectSchema:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: Map of property names to their schemas. Type is always 'object' and all properties are required.
      required:
        - properties
    BoardCard:
      type: object
      properties:
        type:
          type: string
          description: Card type identifier used to generate runtime CardIds. When count > 1, runtime IDs are generated as '{type}-1', '{type}-2', etc.
        name:
          type: string
          description: Display name of the card
        imageUrl:
          type: string
          description: URL to the card's image
          nullable: true
        text:
          type: string
          description: Text content on the card
          nullable: true
        count:
          type: integer
          format: int32
          description: Number of copies of this card
          minimum: 1
        cardType:
          type: string
          description: Card type identifier. This field is optional and can be used for categorizing cards within a deck.
          nullable: true
          example: Creature
        properties:
          type: object
          additionalProperties:
            type: string
          description: Actual property values for this specific card instance. Keys must match the properties defined in the referenced cardSchema. Values are validated against the schema's type definitions.
          example:
            attack: 6
            defense: 6
          x-kotlin-type: kotlinx.serialization.json.JsonElement
      required:
        - type
        - name
        - count
        - properties
    ManualCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the card set
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - manual
          description: Type of card set source
        cardSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema definition for card properties in this card set. Defines the structure and types of properties that cards in this card set can have.
          nullable: true
        cards:
          type: array
          items:
            $ref: "#/components/schemas/BoardCard"
          description: List of cards in this card set
          minItems: 0
      required:
        - id
        - name
        - type
        - cards
        - cardSchema
    CardSetDefinition:
      oneOf:
        - $ref: "#/components/schemas/PresetCardSetDefinition"
        - $ref: "#/components/schemas/ManualCardSetDefinition"
      discriminator:
        propertyName: type
        mapping:
          preset: "#/components/schemas/PresetCardSetDefinition"
          manual: "#/components/schemas/ManualCardSetDefinition"
    PlayerHandDefinition:
      type: object
      description: Definition of a player hand type
      properties:
        id:
          type: string
          description: Unique identifier for this hand type (becomes HandId literal)
          example: mainHand
        displayName:
          type: string
          description: Human-readable name for UI display
          example: Hand
        description:
          type: string
          description: Optional longer description of this hand's purpose
          nullable: true
          example: Primary cards for playing
        maxCards:
          type: integer
          format: int32
          description: Maximum number of cards allowed in this hand
          nullable: true
          minimum: 0
          example: 7
        minCards:
          type: integer
          format: int32
          description: Minimum number of cards required in this hand
          nullable: true
          minimum: 0
          example: 0
        visibility:
          type: string
          enum:
            - ownerOnly
            - public
            - hidden
          default: ownerOnly
          description: Who can see cards in this hand
        cardSetIds:
          type: array
          items:
            type: string
          description: List of card set IDs that can be stored in this hand. If empty, the hand can store cards from any card set.
          nullable: true
          example:
            - resource_cards
            - development_cards
      required:
        - id
        - displayName
    DeckDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deck
        name:
          type: string
          description: Display name of the deck
        cardSetId:
          type: string
          description: ID of the card set this deck uses
      required:
        - id
        - name
        - cardSetId
    DieDefinition:
      type: object
      description: A die component for randomization and chance mechanics
      properties:
        id:
          type: string
          description: Unique identifier for the die
        name:
          type: string
          description: Display name of the die
        sides:
          type: integer
          format: int32
          description: Number of sides on the die (e.g., 6 for standard die)
          minimum: 2
          default: 6
      required:
        - id
        - name
        - sides
    PlayerConfig:
      type: object
      properties:
        minPlayers:
          type: integer
          format: int32
          description: Minimum number of players required
          minimum: 1
          maximum: 10
        maxPlayers:
          type: integer
          format: int32
          description: Maximum number of players supported
          minimum: 1
          maximum: 10
        optimalPlayers:
          type: integer
          format: int32
          description: Optimal number of players for best experience
          minimum: 1
          maximum: 10
      required:
        - minPlayers
        - maxPlayers
        - optimalPlayers
    VariableSchema:
      type: object
      properties:
        globalVariableSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for global variables.
        playerVariableSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for player-specific variables.
      required:
        - globalVariableSchema
        - playerVariableSchema
    ParameterType:
      type: string
      enum:
        - cardId
        - cardType
        - deckId
        - playerId
        - string
        - number
        - boolean
        - zoneId
        - tokenId
        - tileId
        - edgeId
        - vertexId
        - spaceId
        - pieceId
        - resourceId
      description: Type of parameter accepted by an action. cardId refers to runtime card instance IDs (e.g., 'lumber-1', 'lumber-2'), while cardType refers to manifest-level card type identifiers (e.g., 'lumber'). tileId is used for hex tiles and network nodes.
    ActionParameterDefinition:
      type: object
      description: Defines a parameter for an action
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Parameter name
        type:
          $ref: "#/components/schemas/ParameterType"
        required:
          type: boolean
          default: true
          description: Whether this parameter is required
        array:
          type: boolean
          default: false
          description: Whether this parameter accepts an array of values
        minLength:
          type: integer
          minimum: 0
          nullable: true
          description: Minimum length for array parameters (only applicable when array=true)
        maxLength:
          type: integer
          minimum: 0
          nullable: true
          description: Maximum length for array parameters (only applicable when array=true)
        cardSetId:
          type: string
          nullable: true
          description: Optional card set ID to specify which card set the CARD_ID parameter refers to (only applicable when type is CARD_ID)
        description:
          type: string
          nullable: true
          description: Optional help text for this parameter
    ActionDefinition:
      type: object
      description: Defines an available player action with metadata and parameter definitions
      required:
        - actionType
        - displayName
        - parameters
      properties:
        actionType:
          type: string
          description: Unique action identifier (e.g., 'playCard', 'pass', 'drawCard')
        displayName:
          type: string
          description: UI display name for this action
        description:
          type: string
          nullable: true
          description: Optional help text describing the action
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/ActionParameterDefinition"
          description: List of parameters this action accepts
        errorCodes:
          type: array
          items:
            type: string
          description: List of possible error codes that this action's validation can return
          nullable: true
    StateType:
      type: string
      description: Type of state in the state machine
      enum:
        - AUTO
        - SINGLE_PLAYER
        - ALL_PLAYERS
    StateTransition:
      type: object
      description: Definition of a state transition with optional documentation to help guide game logic implementation
      properties:
        targetState:
          type: string
          description: The name of the state to transition to
        description:
          type: string
          description: Optional description explaining when/why this transition should occur
          nullable: true
      required:
        - targetState
    StateDefinition:
      type: object
      description: Definition of a state in the game state machine
      properties:
        name:
          type: string
          description: Unique name of the state
        type:
          $ref: "#/components/schemas/StateType"
        description:
          type: string
          description: Description of the state. It should include the full logic of what happens in this state, including any automatic actions taken by the system, as well as what the active player(s) can do.
        availableActions:
          type: array
          items:
            type: string
          description: List of action types that can be performed in this state (only applicable for active_player and multiple_active_player states). Must reference actions defined in BoardManifest.availableActions
        transitions:
          type: array
          items:
            $ref: "#/components/schemas/StateTransition"
          description: List of possible next state transitions with optional metadata
        autoAdvance:
          type: boolean
          description: Whether the state should automatically advance when complete
          default: true
      required:
        - name
        - type
        - description
        - transitions
    StateMachineDefinition:
      type: object
      description: Definition of the game's state machine
      properties:
        states:
          type: array
          items:
            $ref: "#/components/schemas/StateDefinition"
          description: List of state definitions
        initialState:
          type: string
          description: Initial state when the game starts
          default: gameSetup
      required:
        - states
        - initialState
    ResourceDefinition:
      type: object
      description: Definition of a game resource type.
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Unique identifier for the resource. Used as a typed ResourceId.
          pattern: ^[a-zA-Z][a-zA-Z0-9_]*$
        name:
          type: string
          description: Human-readable display name for the resource
    HexLayoutType:
      type: string
      description: Layout pattern for hex board tile placement
      enum:
        - ring
        - rectangle
        - custom
    HexTileDefinition:
      type: object
      description: Definition of a hex tile
      required:
        - id
      properties:
        id:
          type: string
          description: Unique tile ID
        q:
          type: integer
          description: Axial Q coordinate (only used with 'custom' layout)
          nullable: true
        r:
          type: integer
          description: Axial R coordinate (only used with 'custom' layout)
          nullable: true
        type:
          type: string
          description: Tile type (must be in tileTypes)
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Tile properties (validated against tileSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    HexEdgeDefinition:
      type: object
      description: Definition of a hex edge
      required:
        - id
      properties:
        id:
          type: string
          description: Unique edge ID
        type:
          type: string
          description: Edge type (must be in edgeTypes)
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Edge properties (validated against edgeSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    HexVertexDefinition:
      type: object
      description: Definition of a hex vertex
      required:
        - id
      properties:
        id:
          type: string
          description: Unique vertex ID
        type:
          type: string
          description: Vertex type (must be in vertexTypes)
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Vertex properties (validated against vertexSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    HexBoardDefinition:
      type: object
      description: Definition for a hexagonal grid board (Catan, wargames, etc.)
      required:
        - id
        - boardType
        - tiles
      properties:
        id:
          type: string
          description: Unique board ID
          pattern: ^[a-zA-Z][a-zA-Z0-9_]*$
        boardType:
          type: string
          enum:
            - hex
        layout:
          $ref: "#/components/schemas/HexLayoutType"
          description: Layout pattern for tile placement. Defaults to 'ring' if not specified.
          nullable: true
        rings:
          type: integer
          description: Number of rings for 'ring' layout (1=1 tile, 2=7 tiles, 3=19 tiles like Catan). Defaults to 3.
          nullable: true
        width:
          type: integer
          description: Board width for 'rectangle' layout
          nullable: true
        height:
          type: integer
          description: Board height for 'rectangle' layout
          nullable: true
        tileSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for tile properties
          nullable: true
        edgeSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for edge properties
          nullable: true
        vertexSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for vertex properties
          nullable: true
        tileTypes:
          type: array
          items:
            type: string
          description: Valid tile type IDs (e.g., 'desert', 'forest')
          nullable: true
        edgeTypes:
          type: array
          items:
            type: string
          description: Valid edge type IDs (e.g., 'road')
          nullable: true
        vertexTypes:
          type: array
          items:
            type: string
          description: Valid vertex type IDs (e.g., 'settlement', 'city')
          nullable: true
        tiles:
          type: array
          items:
            $ref: "#/components/schemas/HexTileDefinition"
          description: List of tile definitions. Tiles are assigned positions based on layout.
        edges:
          type: array
          items:
            $ref: "#/components/schemas/HexEdgeDefinition"
          description: List of edge definitions
          nullable: true
        vertices:
          type: array
          items:
            $ref: "#/components/schemas/HexVertexDefinition"
          description: List of vertex definitions
          nullable: true
    NetworkLayoutType:
      type: string
      description: Layout pattern for network board node placement
      enum:
        - circle
        - grid
        - custom
    NetworkNodeDefinition:
      type: object
      description: Definition of a network node
      required:
        - id
      properties:
        id:
          type: string
          description: Unique node ID
        x:
          type: number
          description: X coordinate (only used with 'custom' layout)
          nullable: true
        "y":
          type: number
          description: Y coordinate (only used with 'custom' layout)
          nullable: true
        type:
          type: string
          description: Node type (must be in nodeTypes)
          nullable: true
        label:
          type: string
          description: Display label
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Node properties (validated against nodeSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    NetworkEdgeDefinition:
      type: object
      description: Definition of a network edge
      required:
        - id
      properties:
        id:
          type: string
          description: Unique edge ID
        type:
          type: string
          description: Edge type (must be in edgeTypes)
          nullable: true
        label:
          type: string
          description: Display label
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Edge properties (validated against edgeSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    NetworkBoardDefinition:
      type: object
      description: Definition for a network/graph board (Ticket to Ride, Pandemic, etc.)
      required:
        - id
        - boardType
        - nodes
      properties:
        id:
          type: string
          description: Unique board ID
          pattern: ^[a-zA-Z][a-zA-Z0-9_]*$
        boardType:
          type: string
          enum:
            - network
        layout:
          $ref: "#/components/schemas/NetworkLayoutType"
          description: Layout pattern for node placement. Defaults to 'circle' if not specified.
          nullable: true
        radius:
          type: number
          description: Radius for 'circle' layout. Defaults to 100.
          nullable: true
        columns:
          type: integer
          description: Number of columns for 'grid' layout
          nullable: true
        spacing:
          type: number
          description: Spacing between nodes for 'grid' layout. Defaults to 100.
          nullable: true
        nodeSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for node properties
          nullable: true
        edgeSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for edge properties
          nullable: true
        nodeTypes:
          type: array
          items:
            type: string
          description: Valid node type IDs
          nullable: true
        edgeTypes:
          type: array
          items:
            type: string
          description: Valid edge type IDs
          nullable: true
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/NetworkNodeDefinition"
          description: List of node definitions. Nodes are assigned positions based on layout.
        edges:
          type: array
          items:
            $ref: "#/components/schemas/NetworkEdgeDefinition"
          description: List of edge definitions
          nullable: true
    SquarePieceDefinition:
      type: object
      description: Definition of a square board piece
      required:
        - id
      properties:
        id:
          type: string
          description: Unique piece ID
        type:
          type: string
          description: Piece type (must be in pieceTypes)
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Piece properties
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    SquareBoardDefinition:
      type: object
      description: Definition for a square grid board (Chess, Checkers, Go, etc.)
      required:
        - id
        - boardType
        - rows
        - cols
      properties:
        id:
          type: string
          description: Unique board ID
          pattern: ^[a-zA-Z][a-zA-Z0-9_]*$
        boardType:
          type: string
          enum:
            - square
        rows:
          type: integer
          description: Number of rows
        cols:
          type: integer
          description: Number of columns
        cellSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for cell properties
          nullable: true
        cellTypes:
          type: array
          items:
            type: string
          description: Valid cell type IDs
          nullable: true
        pieceTypes:
          type: array
          items:
            type: string
          description: Valid piece type IDs
          nullable: true
        pieces:
          type: array
          items:
            $ref: "#/components/schemas/SquarePieceDefinition"
          description: List of piece definitions
          nullable: true
    TrackSpaceDefinition:
      type: object
      description: Definition of a track space
      required:
        - id
      properties:
        id:
          type: string
          description: Unique space ID
        type:
          type: string
          description: Space type (must be in spaceTypes)
          nullable: true
        name:
          type: string
          description: Display name
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Space properties (validated against spaceSchema)
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    TrackPieceDefinition:
      type: object
      description: Definition of a track board piece
      required:
        - id
      properties:
        id:
          type: string
          description: Unique piece ID
        type:
          type: string
          description: Piece type (must be in pieceTypes)
          nullable: true
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Piece properties
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
    TrackBoardDefinition:
      type: object
      description: Definition for a track/path board (Monopoly, Game of Life, etc.)
      required:
        - id
        - boardType
        - spaces
      properties:
        id:
          type: string
          description: Unique board ID
          pattern: ^[a-zA-Z][a-zA-Z0-9_]*$
        boardType:
          type: string
          enum:
            - track
        trackType:
          type: string
          enum:
            - linear
            - circular
            - branching
          description: Type of track layout
          nullable: true
        spaceSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema for space properties
          nullable: true
        spaceTypes:
          type: array
          items:
            type: string
          description: Valid space type IDs
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/TrackSpaceDefinition"
          description: List of space definitions
        pieceTypes:
          type: array
          items:
            type: string
          description: Valid piece type IDs
          nullable: true
        pieces:
          type: array
          items:
            $ref: "#/components/schemas/TrackPieceDefinition"
          description: List of piece definitions
          nullable: true
    BoardDefinition:
      description: Board definition - can be hex, network, square, or track board.
      oneOf:
        - $ref: "#/components/schemas/HexBoardDefinition"
        - $ref: "#/components/schemas/NetworkBoardDefinition"
        - $ref: "#/components/schemas/SquareBoardDefinition"
        - $ref: "#/components/schemas/TrackBoardDefinition"
      discriminator:
        propertyName: boardType
        mapping:
          hex: "#/components/schemas/HexBoardDefinition"
          network: "#/components/schemas/NetworkBoardDefinition"
          square: "#/components/schemas/SquareBoardDefinition"
          track: "#/components/schemas/TrackBoardDefinition"
    BoardManifest:
      type: object
      properties:
        cardSets:
          type: array
          items:
            $ref: "#/components/schemas/CardSetDefinition"
          description: List of card sets
        playerHandDefinitions:
          type: array
          items:
            $ref: "#/components/schemas/PlayerHandDefinition"
          description: Definitions of different hand types players can hold
        decks:
          type: array
          items:
            $ref: "#/components/schemas/DeckDefinition"
          description: Shared decks available to the whole game
          default: []
        dice:
          type: array
          items:
            $ref: "#/components/schemas/DieDefinition"
          description: Dice available to the whole game
          default: []
        playerConfig:
          $ref: "#/components/schemas/PlayerConfig"
          description: Player configuration settings
        variableSchema:
          $ref: "#/components/schemas/VariableSchema"
          description: Schema definitions for game variables at different scopes.
        availableActions:
          type: array
          items:
            $ref: "#/components/schemas/ActionDefinition"
          description: List of available actions that players can perform
        stateMachine:
          $ref: "#/components/schemas/StateMachineDefinition"
          description: Definition of the game's state machine
        resources:
          type: array
          items:
            $ref: "#/components/schemas/ResourceDefinition"
          description: List of resource definitions.
          default: []
        boardDefinitions:
          type: array
          items:
            $ref: "#/components/schemas/BoardDefinition"
          description: List of board definitions for hex, network, square, or track boards.
          default: []
      required:
        - cardSets
        - playerHandDefinitions
        - playerConfig
        - variableSchema
        - availableActions
        - stateMachine
    UpdateGameRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated display name
          minLength: 1
          maxLength: 255
          nullable: true
        description:
          type: string
          description: Updated description
          nullable: true
        rule:
          type: string
          description: Updated game rules text
          nullable: true
        public:
          type: boolean
          description: Updated visibility setting
          nullable: true
        manifest:
          $ref: "#/components/schemas/BoardManifest"
          nullable: true
        metadata:
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
    DeleteGameResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Confirms the resource was deleted
      required:
        - deleted
    WorkshopRuleTextResponse:
      type: object
      properties:
        ruleText:
          type: string
          description: Extracted rulebook text from the first valid candidate.
      required:
        - ruleText
    GameManifestSummaryDto:
      type: object
      properties:
        manifestId:
          type: string
          format: uuid
          description: Unique identifier for this manifest version
        gameId:
          type: string
          format: uuid
          description: Game identifier
        userId:
          type: string
          format: uuid
          description: User who created this version
        jobId:
          type: string
          format: uuid
          description: Agent job that created this manifest
          nullable: true
        ruleId:
          type: string
          format: uuid
          description: Game rule used for this manifest
        version:
          type: integer
          description: Version number for this game
        current:
          type: boolean
          description: Whether this is the latest/current manifest version
        createdAt:
          type: string
          format: date-time
          description: When this version was created
      required:
        - manifestId
        - gameId
        - userId
        - ruleId
        - version
        - current
        - createdAt
    FindManifestsResponse:
      type: object
      properties:
        manifests:
          type: array
          items:
            $ref: "#/components/schemas/GameManifestSummaryDto"
          description: List of manifest versions, ordered by version descending (newest first)
        currentManifestId:
          type: string
          format: uuid
          description: Unique identifier of the current (latest) manifest version
          nullable: true
      required:
        - manifests
    SaveManifestRequest:
      type: object
      properties:
        manifest:
          $ref: "#/components/schemas/BoardManifest"
          description: The board manifest to save
        jobId:
          type: string
          format: uuid
          description: Agent job that created this manifest
          nullable: true
        ruleId:
          type: string
          format: uuid
      required:
        - manifest
        - ruleId
    SaveManifestResponse:
      type: object
      properties:
        manifestId:
          type: string
          format: uuid
          description: Unique identifier for the saved manifest version
        version:
          type: integer
          description: Auto-incremented version number for this game
        gameId:
          type: string
          format: uuid
          description: Game identifier
        contentHash:
          type: string
          description: SHA-256 hash of the canonical manifest content, for local change detection
      required:
        - manifestId
        - version
        - gameId
        - contentHash
    GameManifestDto:
      type: object
      properties:
        manifestId:
          type: string
          format: uuid
          description: Unique identifier for this manifest version
        gameId:
          type: string
          format: uuid
          description: Game identifier
        userId:
          type: string
          format: uuid
          description: User who created this version
        jobId:
          type: string
          format: uuid
          description: Agent job that created this manifest
          nullable: true
        ruleId:
          type: string
          format: uuid
          description: Game rule used for this manifest
        manifest:
          $ref: "#/components/schemas/BoardManifest"
          description: The board manifest data
        version:
          type: integer
          description: Version number for this game
        createdAt:
          type: string
          format: date-time
          description: When this version was created
        contentHash:
          type: string
          description: SHA-256 hash of the canonical manifest content, for local change detection
      required:
        - manifestId
        - gameId
        - userId
        - ruleId
        - manifest
        - version
        - createdAt
        - contentHash
    CompilationDiagnosticSeverity:
      type: string
      description: Diagnostic severity level
      enum:
        - error
        - warning
    FileCompilationDiagnostic:
      type: object
      description: Diagnostic tied to a specific project file and source location
      properties:
        type:
          type: string
          enum:
            - file
        file:
          type: string
          description: Project-relative file path where the diagnostic occurred
        line:
          type: integer
          minimum: 1
          description: Line number where the diagnostic occurred (1-based)
        column:
          type: integer
          minimum: 1
          description: Column number where the diagnostic occurred (1-based)
        message:
          type: string
          description: Human-readable diagnostic message
        severity:
          $ref: "#/components/schemas/CompilationDiagnosticSeverity"
        code:
          type: string
          description: Optional machine-readable diagnostic code (for example, a TypeScript diagnostic code)
          nullable: true
      required:
        - type
        - file
        - line
        - column
        - message
        - severity
    ProjectCompilationDiagnosticCategory:
      type: string
      description: Category of a project-level compilation diagnostic
      enum:
        - configuration
        - module_resolution
        - project
        - system
        - source_validation
    ProjectCompilationDiagnosticContext:
      type: object
      description: Additional structured context for a project-level diagnostic
      properties:
        file:
          type: string
          description: Related project-relative file path if one exists
          nullable: true
        details:
          type: string
          description: Additional human-readable context
          nullable: true
        moduleName:
          type: string
          description: Module or import specifier related to the diagnostic
          nullable: true
        affectedPaths:
          type: array
          description: Related project-relative paths involved in the diagnostic
          items:
            type: string
          nullable: true
        expectedSdkVersion:
          type: string
          description: Expected scaffold SDK version when validating static scaffold inputs
          nullable: true
        actualSdkVersion:
          type: string
          description: Actual scaffold SDK version detected in the source snapshot
          nullable: true
    ProjectCompilationDiagnostic:
      type: object
[...]
