openapi: 3.1.0
info:
  title: Dreamboard API
  description: API for managing board games and game sessions in Dreamboard
  version: 1.0.0
  contact:
    name: Dreamboard Team
servers:
  - url: https://dreamboard.games
    description: Production server
  - url: http://localhost:8080
    description: Development server
security:
  - BearerAuth: []
tags:
  - name: Health
    description: Health check endpoints
  - name: Games
    description: Game management operations
  - name: Rulebooks
    description: Rulebook query operations
  - name: Sessions
    description: Game session and lobby management
  - name: UI Bundles
    description: UI bundle fetching and management
  - name: Agent
    description: AI agent operations for manifest generation
  - name: WebSocket
    description: Real-time communication
  - name: Webhooks
    description: Webhook endpoints called by external services
  - name: Sandbox
    description: OpenCode sandbox session messaging
  - name: Development
    description: Development and testing endpoints
paths:
  /:
    get:
      summary: Health check endpoint
      description: Returns a simple health check message
      operationId: healthCheck
      tags:
        - Health
      responses:
        "200":
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Hello World!
  /api/version:
    get:
      summary: Get backend version metadata
      description: Returns backend revision metadata and the UI SDK version expected by the backend runtime.
      operationId: getApiVersion
      tags:
        - Health
      responses:
        "200":
          description: Successfully retrieved backend version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVersionResponse"
  /api/games:
    get:
      summary: List user's games
      description: Retrieve a list of all games owned by the authenticated user
      operationId: listGames
      tags:
        - Games
      parameters:
        - name: includeNotInitialized
          in: query
          description: Include games that haven't been fully initialized (missing rules, manifest, app, or UI). Defaults to false.
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Successfully retrieved games list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Game"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create a new game
      description: Create a new game definition
      operationId: createGame
      tags:
        - Games
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRequest"
      responses:
        "201":
          description: Game created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}:
    parameters:
      - $ref: "#/components/parameters/GameId"
    get:
      summary: Get game by ID
      description: Retrieve a specific game definition by its ID
      operationId: getGame
      tags:
        - Games
      responses:
        "200":
          description: Successfully retrieved game
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: Update game
      description: Update an existing game definition
      operationId: updateGame
      tags:
        - Games
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGameRequest"
      responses:
        "200":
          description: Game updated successfully
          content:
            application/json:
              schema:
                type: string
                description: Success message
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Delete game
      description: Delete a game definition permanently
      operationId: deleteGame
      tags:
        - Games
      responses:
        "200":
          description: Game deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteGameResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/slug/{slug}:
    parameters:
      - $ref: "#/components/parameters/GameSlug"
    get:
      summary: Get game by slug
      description: Retrieve a specific game definition by its slug
      operationId: getGameBySlug
      tags:
        - Games
      parameters:
        - name: includeDeleted
          in: query
          description: Include soft-deleted games in the lookup. Defaults to false.
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Successfully retrieved game
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Game"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/workshop/query:
    get:
      summary: Query rulebook text by title
      description: Search ranked rulebook candidates for the provided title, try up to the top 3 matches, and return extracted text from the first valid PDF found.
      operationId: queryWorkshopRulebook
      security:
        - BearerAuth: []
      tags:
        - Rulebooks
      parameters:
        - name: title
          in: query
          description: Board game title to search for in the rulebook library.
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Extracted rulebook text for the first valid candidate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopRuleTextResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/manifests:
    post:
      summary: Save game manifest
      description: Create a new versioned manifest for a game. Each save creates a new version with automatic version numbering.
      operationId: saveManifest
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveManifestRequest"
      responses:
        "201":
          description: Manifest saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveManifestResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: Find manifests for game
      description: Retrieve a list of manifest versions for a game, ordered by version descending (newest first)
      operationId: findManifests
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of manifests to return (default: 10, max: 100)"
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
        - name: ruleId
          in: query
          description: Filter to only return manifests for a specific rule
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Manifests retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindManifestsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/manifests/{manifestId}:
    parameters:
      - name: manifestId
        in: path
        required: true
        description: Unique identifier for the manifest
        schema:
          type: string
          format: uuid
    get:
      summary: Get manifest by ID
      description: Retrieve a specific manifest version by its ID with full board manifest details
      operationId: getManifest
      security:
        - BearerAuth: []
      tags:
        - Games
      responses:
        "200":
          description: Manifest retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameManifestDto"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/compiled-results/latest:
    get:
      summary: Get latest compiled result for a game
      description: Return the most recent compiled result for the specified game.
      operationId: getLatestCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: successOnly
          in: query
          description: If true, only return results where success=true and uiStorageKey is present
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Latest compiled result found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/compiled-results:
    get:
      summary: List compiled results for a game
      description: Retrieve a list of compiled results for a game, ordered by creation date descending (newest first). Includes both successful and failed compilations.
      operationId: listCompiledResults
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: authoringStateId
          in: query
          required: false
          description: Optional authoring state ID to limit results to a single authored head.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Compiled results retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompiledResultsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Queue a compile job for an authoring state
      description: Queue an asynchronous compile for a specific authoring state. Poll `/api/jobs/{jobId}` and fetch the final compiled result by ID when the job completes.
      operationId: queueCompiledResultJob
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueueCompiledResultJobRequest"
      responses:
        "202":
          description: Compile job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueCompiledResultJobResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/compiled-results/{compiledResultId}:
    parameters:
      - $ref: "#/components/parameters/GameId"
      - name: compiledResultId
        in: path
        required: true
        description: Unique identifier for the compiled result
        schema:
          type: string
          format: uuid
    get:
      summary: Get compiled result by ID
      description: Fetch a specific compiled result for a game, including failed results and diagnostics.
      operationId: getCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Games
      responses:
        "200":
          description: Compiled result found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/download:
    get:
      summary: Download authored game source files
      description: Download the authored source files for the current authoring head as a ZIP archive.
      operationId: downloadGameSources
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: ZIP archive containing source files
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/sources:
    get:
      summary: Get authored game source files
      description: Retrieve authored source files as JSON for the selected authoring state. If no authoring state is provided, the current authoring head is used.
      operationId: getGameSources
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: authoringStateId
          in: query
          required: false
          description: Optional authoring state ID to fetch sources from. If not provided, uses the current authoring head.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Source files retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameSourcesResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/source-revisions:
    post:
      summary: Create a source revision for a game
      description: Create a new authored source revision from a hash-addressed change set. The request must be based on the current head revision for the game.
      operationId: createSourceRevision
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceRevisionRequest"
      responses:
        "201":
          description: Source revision created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceRevision"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          description: Base source revision does not match the current head revision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/source-blobs/upload-sessions:
    post:
      summary: Create direct-upload targets for source blobs
      description: Create a direct-upload session for one or more source blobs referenced by a forthcoming source revision.
      operationId: createSourceBlobUploadSession
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceBlobUploadSessionRequest"
      responses:
        "201":
          description: Upload session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceBlobUploadSession"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/authoring/head:
    get:
      summary: Get current authoring head for a game
      description: Retrieve the current remote authoring head for the specified game.
      operationId: getAuthoringHead
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Current authoring head found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthoringState"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/authoring/states:
    post:
      summary: Advance the authoring head for a game
      description: Create a new immutable authoring state and make it the current authoring head for the specified game.
      operationId: createAuthoringState
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAuthoringStateRequest"
      responses:
        "201":
          description: Authoring state created and promoted to head
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthoringState"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Base authoring state does not match the current head
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/scripts:
    get:
      summary: Get game scripts
      description: Retrieve all compiled app and UI scripts for a specific manifest
      operationId: getGameScripts
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: manifestId
          in: query
          required: true
          description: The manifest ID to get compiled scripts for
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Game scripts retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameScriptsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/agent-chat-context:
    get:
      summary: Get agent chat context
      description: |
        Retrieve all initial data needed for the agent chat page in a single request.
        Returns rules, manifests for the latest rule, and scripts for the latest manifest,
        with pre-selected defaults to eliminate client-side auto-selection logic.
      operationId: getAgentChatContext
      security:
        - BearerAuth: []
      tags:
        - Agent Chat
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Agent chat context retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentChatContextResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/jobs/active:
    parameters:
      - $ref: "#/components/parameters/GameId"
    get:
      summary: Get active job for a game
      description: Returns the currently active (PENDING or RUNNING) job for a game, if any. Jobs older than 15 minutes are considered stale and ignored.
      operationId: getActiveJob
      security:
        - BearerAuth: []
      tags:
        - Jobs
      responses:
        "200":
          description: Active job status (null if no active job)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveJobResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/rules:
    post:
      summary: Create a new game rule
      description: Create a new versioned rule for a game. Each save creates a new version with automatic version numbering.
      operationId: createGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRuleRequest"
      responses:
        "201":
          description: Game rule created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGameRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List game rules for a game
      description: Retrieve a list of rule versions for a game, ordered by version descending (newest first)
      operationId: listGameRules
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
        - name: limit
          in: query
          description: "Maximum number of rules to return (default: 10, max: 100)"
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
          required: false
      responses:
        "200":
          description: Game rules retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameRulesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/rules/latest:
    get:
      summary: Get the latest game rule
      description: Retrieve the most recent rule version for a game with full details including the complete rule text
      operationId: getLatestGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Latest game rule retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRule"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/rules/{ruleId}:
    parameters:
      - name: ruleId
        in: path
        required: true
        description: Unique identifier for the game rule
        schema:
          type: string
          format: uuid
    get:
      summary: Get game rule by ID
      description: Retrieve a specific game rule version by its ID with full details
      operationId: getGameRule
      security:
        - BearerAuth: []
      tags:
        - Games
      responses:
        "200":
          description: Game rule retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRule"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/games/{gameId}/sessions:
    post:
      summary: Create a new game session
      description: Create a new game session in lobby phase with initial seat configuration
      operationId: createSession
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
      responses:
        "201":
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/code/{shortCode}:
    parameters:
      - name: shortCode
        in: path
        required: true
        description: Memorable short code for the session (e.g., 'swift-falcon-73')
        schema:
          type: string
    get:
      summary: Get session by short code
      description: Look up a session using its memorable short code
      operationId: getSessionByShortCode
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Session found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionStatus"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/status:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Get session status
      description: Get current status and phase of a game session
      operationId: getSessionStatus
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Session status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionStatus"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/events:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Subscribe to session events (SSE)
      description: Server-Sent Events stream for real-time session updates. Every connection starts with a `SESSION_BOOTSTRAP` snapshot that fully describes the durable session state, then emits only future live events generated after the connection is established.
      operationId: subscribeToSessionEvents
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: clientId
          in: query
          required: true
          schema:
            type: string
          description: Stable browser-tab identifier used to replace stale reconnects from the same tab.
        - name: connectionAttemptId
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier for this specific connection attempt.
        - name: clientSource
          in: query
          required: false
          schema:
            type: string
          description: Optional caller label for diagnostics, such as `play-page` or `session-play-panel`.
      responses:
        "200":
          description: SSE connection established
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/GameMessage"
                description: |
                  Server-Sent Events stream. Each event contains a JSON-serialized GameMessage.
                  Every connection begins with a `SESSION_BOOTSTRAP` event that fully describes the current durable session state.
                  After bootstrap, the stream includes only live updates and does not replay historical messages.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/events/disconnect:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Release a session events stream slot
      description: Best-effort disconnect signal used by browser tabs during unload and reconnect transitions so stale event stream slots are released promptly.
      operationId: disconnectSessionEvents
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: clientId
          in: query
          required: true
          schema:
            type: string
          description: Stable browser-tab identifier originally used to open the session event stream.
        - name: connectionAttemptId
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier for the specific connection attempt being released.
      responses:
        "202":
          description: Disconnect request accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
  /api/sessions/{sessionId}/logs:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Subscribe to game logs (SSE)
      description: Server-Sent Events stream for real-time game engine console logs (stdout/stderr). Supports log replay via lastLogId query parameter for reconnection.
      operationId: subscribeToGameLogs
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: lastLogId
          in: query
          description: Last log ID received (for reconnection/replay)
          schema:
            type: integer
            format: int64
          required: false
      responses:
        "200":
          description: SSE connection established
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/LogMessageDto"
              description: |
                Server-Sent Events stream. Each event contains a JSON-serialized LogMessageDto.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/start:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Start the game
      description: Transition session from lobby to gameplay phase (host only)
      operationId: startGame
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Game started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartGameResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/inputs:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Submit generic gameplay input
      description: Submit a gameplay input during gameplay phase. Supports action, promptResponse, and windowAction for clients.
      operationId: submitInput
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitInputRequest"
      responses:
        "200":
          description: Input submission processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitInputResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/validate-input:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Validate gameplay input
      description: Validate a gameplay input before submitting it. Returns validation result plus the current gameplay version.
      operationId: validateInput
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateInputRequest"
      responses:
        "200":
          description: Validation result returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateInputResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Add a seat to the lobby
      description: Add a new seat to the lobby (host only, up to maxPlayers)
      operationId: addSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "201":
          description: Seat added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeatAssignment"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    patch:
      summary: Update seat settings
      description: Update seat display name and/or player color. User must be assigned to the seat.
      operationId: updateSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSeatRequest"
      responses:
        "200":
          description: Seat updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeatAssignment"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Remove a seat from the lobby
      description: Remove a seat from the lobby (host only, down to minPlayers)
      operationId: removeSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat removed successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}/assign:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Assign a seat to current user
      description: Assign the current authenticated user to a specific seat
      operationId: assignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat assigned successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/history/restore:
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Restore game state from history
      description: Restore the game to a previous state from history (host only)
      operationId: restoreHistory
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreHistoryRequest"
      responses:
        "200":
          description: Game state restored successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sessions/{sessionId}/seats/{playerId}/unassign:
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Unassign a seat
      description: Unassign the current user from a specific seat
      operationId: unassignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "204":
          description: Seat unassigned successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/stream:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    get:
      summary: Stream conversation messages
      description: |
        SSE endpoint that streams all messages for a conversation.
        On connect, emits all persisted MessageEvents in order.
        Then continues streaming live events as they occur.
        All events use the same MessageEvent type for uniform handling.
      operationId: streamConversation
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "200":
          description: SSE stream of MessageEvent objects
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentProgressEvent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/cancel:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel job for conversation
      description: |
        Cancel the active job for a conversation. This is the unified cancellation endpoint
        that works for all job types. The backend will find the active job for the conversation
        and cancel it. Only the job owner can cancel it. Returns 204 regardless of whether
        a job was found (idempotent).
      operationId: cancelConversationJob
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "204":
          description: Job cancelled successfully (or no active job)
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations:
    get:
      summary: List conversations
      description: List all conversations for the current user, optionally filtered by gameId
      operationId: listConversations
      security:
        - BearerAuth: []
      tags:
        - Agent
      parameters:
        - name: gameId
          in: query
          required: true
          description: Filter conversations by game ID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Maximum number of conversations to return
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Successfully retrieved conversations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationsListResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    delete:
      summary: Delete conversation
      description: Delete a conversation and all its messages
      operationId: deleteConversation
      security:
        - BearerAuth: []
      tags:
        - Agent
      responses:
        "204":
          description: Conversation deleted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/jobs/{jobId}:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for any agent job
        schema:
          type: string
          format: uuid
    get:
      summary: Get job details
      description: Fetch details for a specific agent job, including created artifact IDs.
      operationId: getJob
      security:
        - BearerAuth: []
      tags:
        - Jobs
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/sandbox/messages:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Send message to sandbox
      description: |
        Send a prompt/message to the active OpenCode sandbox session for this conversation.
        The backend finds the active sandbox job for the conversation and forwards the
        message to the OpenCode server. Progress events are streamed via the existing
        conversation stream SSE endpoint.
      operationId: sendSandboxMessage
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendSandboxMessageRequest"
      responses:
        "200":
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendSandboxMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/conversations/{conversationId}/sandbox/abort:
    parameters:
      - name: conversationId
        in: path
        required: true
        description: Unique identifier for the conversation
        schema:
          type: string
          format: uuid
    post:
      summary: Abort sandbox session
      description: |
        Abort the OpenCode session running in the sandbox for this conversation.
        The backend finds the active sandbox job and sends an abort signal to the
        OpenCode server. Only the conversation owner can abort the session.
      operationId: abortSandboxSession
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      responses:
        "204":
          description: Abort signal sent successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sandbox/chat:
    post:
      summary: Send a chat message to sandbox
      description: |
        Send a message to the sandbox. If no sandbox session exists for this conversation,
        one is created automatically (provisions Modal sandbox, creates OpenCode session,
        starts background event persister). If no conversationId is provided, a new
        conversation is created. Clients should continue the task in
        /sandbox/{gameId}/{conversationId} while streaming events from
        GET /api/conversations/{conversationId}/stream.
      operationId: sandboxChat
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxChatRequest"
      responses:
        "200":
          description: Message sent, sandbox session active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxChatResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/sandbox/abort:
    post:
      summary: Abort a sandbox session
      description: |
        Abort the sandbox session for a conversation. This stops the current OpenCode
        operation, cancels the background event persister, marks the AgentJob as cancelled,
        and emits a JobCancelledProgress event so the frontend SSE terminates cleanly.
      operationId: sandboxAbort
      security:
        - BearerAuth: []
      tags:
        - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxAbortRequest"
      responses:
        "204":
          description: Sandbox session aborted successfully
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/webhooks/sandbox/{jobId}/event:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for the agent job
        schema:
          type: string
          format: uuid
    post:
      summary: Receive sandbox webhook event
      description: Receive a progress event from the Modal sandbox. Called by the Modal Bridge service.
      operationId: receiveSandboxWebhookEvent
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxWebhookEventPayload"
      responses:
        "204":
          description: Event received successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/webhooks/sandbox/{jobId}/complete:
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for the agent job
        schema:
          type: string
          format: uuid
    post:
      summary: Receive sandbox webhook completion
      description: Receive a completion notification from the Modal sandbox. Called by the Modal Bridge service.
      operationId: receiveSandboxWebhookComplete
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxWebhookCompletePayload"
      responses:
        "204":
          description: Completion received successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/ui-bundles/fetch:
    get:
      summary: Fetch UI bundle
      description: Fetch and return the HTML content of a UI bundle from Supabase storage based on the last compiled UI result
      operationId: fetchUiBundle
      security:
        - BearerAuth: []
      tags:
        - UI Bundles
      parameters:
        - name: gameId
          in: query
          description: ID of the game to fetch the UI bundle for
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: UI bundle HTML retrieved successfully
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the UI bundle
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  parameters:
    GameId:
      name: gameId
      in: path
      required: true
      description: Unique identifier for the game
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    GameSlug:
      name: slug
      in: path
      required: true
      description: URL-safe game slug
      schema:
        type: string
        example: my-game
    SessionId:
      name: sessionId
      in: path
      required: true
      description: Unique identifier for the game session
      schema:
        type: string
        format: uuid
        example: 987e6543-e21b-34d5-b678-542316174000
    PlayerId:
      name: playerId
      in: path
      required: true
      description: Unique identifier for the player (e.g., 'player-1')
      schema:
        type: string
        example: player-1
  responses:
    UnauthorizedError:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    BadRequestError:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ConflictError:
      description: Conflict - version mismatch or resource state conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ForbiddenError:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    TooManyRequestsError:
      description: Too many requests or live connections
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
  schemas:
    ApiVersionResponse:
      type: object
      description: Backend runtime version metadata used by local development hosts.
      required:
        - backendRevision
        - uiSdkVersion
      properties:
        backendRevision:
          type: string
          nullable: true
          description: Deployed backend application revision or git SHA, when available.
        uiSdkVersion:
          type: string
          nullable: true
          description: UI SDK version expected by the backend runtime.
    GameMetadata:
      type: object
      properties:
        coverImage:
          type: string
          format: uri
          description: URL to the game's cover image
          nullable: true
        playTime:
          type: string
          description: Estimated play time
          enum:
            - 15-30 minutes
            - 30-60 minutes
            - 1-2 hours
            - 2-3 hours
            - 3+ hours
          nullable: true
        ageRange:
          type: string
          description: Recommended age range
          enum:
            - 3+
            - 6+
            - 8+
            - 10+
            - 12+
            - 14+
            - 16+
            - 18+
          nullable: true
        gameCategory:
          type: string
          description: Game category or genre
          enum:
            - Abstract
            - Strategy
            - Eurogame
            - Ameritrash
            - Card Game
            - Dice Game
            - Party Game
            - Cooperative
            - Competitive
            - Solo
            - Family Game
            - Wargame
            - Tile-Placement
            - Worker Placement
            - Deck Builder
          nullable: true
        keyMechanics:
          type: string
          description: Key game mechanics
          enum:
            - Area Control
            - Set Collection
            - Hand Management
            - Dice Rolling
            - Route Building
            - Pick-up and Deliver
            - Auction/Bidding
            - Hidden Roles
            - Bluffing
            - Push Your Luck
          nullable: true
    CompletedSteps:
      type: object
      description: Tracks which steps have been completed for a game
      properties:
        ruleSaved:
          type: boolean
          default: false
          description: Whether the rule has been saved (includes AI enhanced rules)
        manifestGenerated:
          type: boolean
          default: false
          description: Whether the manifest has been generated
        appBuilt:
          type: boolean
          default: false
          description: Whether the app has been built
        uiBuilt:
          type: boolean
          default: false
          description: Whether the UI has been built
    StepLightStatus:
      type: string
      description: Development status light shown in the dashboard
      enum:
        - yellow
        - green
        - red
    GameCompletionLights:
      type: object
      description: Per-area development lights shown for a game
      properties:
        rules:
          $ref: "#/components/schemas/StepLightStatus"
          description: Rule authoring status light
        manifest:
          $ref: "#/components/schemas/StepLightStatus"
          description: Manifest authoring status light
        phases:
          $ref: "#/components/schemas/StepLightStatus"
          description: Phase logic status light
        ui:
          $ref: "#/components/schemas/StepLightStatus"
          description: UI implementation status light
      required:
        - rules
        - manifest
        - phases
        - ui
    Game:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the game
        slug:
          type: string
          description: URL-safe game slug (lowercase kebab-case)
        name:
          type: string
          description: Display name of the game
          minLength: 1
          maxLength: 255
        description:
          type: string
          description: Detailed description of the game
          nullable: true
        ruleText:
          type: string
          description: Game rules text
          nullable: true
        public:
          type: boolean
          description: Whether the game is publicly visible
          default: false
        createdAt:
          type: string
          format: date-time
          description: When the game was created
        updatedAt:
          type: string
          format: date-time
          description: When the game was last updated
        scriptId:
          type: string
          description: ID of the script that defines the game logic
          nullable: true
        metadata:
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
        completedSteps:
          $ref: "#/components/schemas/CompletedSteps"
          description: Tracks which steps have been completed for this game
        completionLights:
          $ref: "#/components/schemas/GameCompletionLights"
          description: Color lights representing progress since scaffold for rules, manifest, phases, and UI
        readyToPlay:
          type: boolean
          description: Whether the game is ready to play (all completion lights are green)
          default: false
        initialized:
          type: boolean
          description: "Whether the game has completed initial setup (all steps complete: rule saved, manifest generated, app built, UI built)"
          default: false
      required:
        - id
        - slug
        - name
        - public
        - createdAt
        - updatedAt
        - completedSteps
        - completionLights
        - readyToPlay
        - initialized
    ProblemType:
      type: string
      description: Stable machine-readable problem identifier
      enum:
        - urn:dreamboard:problem:action-rejected
        - urn:dreamboard:problem:active-job-conflict
        - urn:dreamboard:problem:authoring-state-base-missing
        - urn:dreamboard:problem:authoring-state-drift
        - urn:dreamboard:problem:forbidden
        - urn:dreamboard:problem:game-slug-conflict
        - urn:dreamboard:problem:internal-error
        - urn:dreamboard:problem:resource-not-found
        - urn:dreamboard:problem:source-revision-base-missing
        - urn:dreamboard:problem:source-revision-drift
        - urn:dreamboard:problem:source-revision-not-found
        - urn:dreamboard:problem:state-conflict
        - urn:dreamboard:problem:too-many-requests
        - urn:dreamboard:problem:unauthorized
        - urn:dreamboard:problem:validation-failed
      x-enum-varnames:
        - ACTION_REJECTED
        - ACTIVE_JOB_CONFLICT
        - AUTHORING_STATE_BASE_MISSING
        - AUTHORING_STATE_DRIFT
        - FORBIDDEN
        - GAME_SLUG_CONFLICT
        - INTERNAL_ERROR
        - RESOURCE_NOT_FOUND
        - SOURCE_REVISION_BASE_MISSING
        - SOURCE_REVISION_DRIFT
        - SOURCE_REVISION_NOT_FOUND
        - STATE_CONFLICT
        - TOO_MANY_REQUESTS
        - UNAUTHORIZED
        - VALIDATION_FAILED
    ProblemViolation:
      type: object
      properties:
        field:
          type: string
          description: Optional field or input path associated with the issue
        code:
          type: string
          description: Optional machine-readable issue code
        message:
          type: string
          description: Human-readable issue description
      required:
        - message
    ProblemDetails:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/ProblemType"
        title:
          type: string
          description: Short summary of the problem type
        status:
          type: integer
          description: HTTP status code for this problem
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
        instance:
          type: string
          description: Request URI or other occurrence identifier
        requestId:
          type: string
          description: Correlation ID for tracing this request across logs and support tooling
        retryable:
          type: boolean
          description: Whether retrying the same request may succeed without changing input
        context:
          type: object
          additionalProperties:
            type: string
          description: Structured context for programmatic handling and richer UX
        violations:
          type: array
          items:
            $ref: "#/components/schemas/ProblemViolation"
          description: Optional structured issues associated with the problem
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the problem response
      required:
        - type
        - title
        - status
        - detail
    CreateGameRequest:
      type: object
      description: Request to create a new game
      properties:
        slug:
          type: string
          description: URL-safe game slug (lowercase kebab-case). Optional for legacy clients.
          nullable: true
        name:
          type: string
          description: "Name of the game (default: 'Untitled Game')"
          maxLength: 200
        description:
          type: string
          description: Optional description of the game
          maxLength: 1000
          nullable: true
        ruleText:
          type: string
          description: Optional initial rule text
          maxLength: 50000
        enhanceRule:
          type: boolean
          description: Whether to enhance the rules using AI before saving
          default: false
    PlayersDefinition:
      type: object
      description: Supported player-count metadata for the game
      properties:
        minPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        maxPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        optimalPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
      required:
        - minPlayers
        - maxPlayers
    PresetCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique local identifier for the authored card set
          minLength: 1
        presetId:
          type: string
          description: Built-in preset card-set selector
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - preset
          description: Type of card set source
      required:
        - id
        - presetId
        - name
        - type
    PropertySchema:
      type: object
      properties:
        type:
          type: string
          enum:
            - string
            - integer
            - number
            - boolean
            - zoneId
            - cardId
            - playerId
            - boardId
            - edgeId
            - vertexId
            - spaceId
            - pieceId
            - dieId
            - resourceId
            - array
            - object
            - record
            - enum
          description: The data type of the property.
        description:
          type: string
          description: Optional description of the property's purpose and usage.
          nullable: true
        optional:
          type: boolean
          description: Whether an object property may be omitted.
          default: false
        nullable:
          type: boolean
          description: Whether the value may be null.
          default: false
        items:
          $ref: "#/components/schemas/PropertySchema"
          description: For array types, the schema of the array items. Required if type is 'array'.
          nullable: true
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: For object types, the schema of the object's properties. Required if type is 'object'.
          nullable: true
        enums:
          type: array
          items:
            type: string
          description: For enum types, the list of allowed string values. Required if type is 'enum'.
          nullable: true
        values:
          $ref: "#/components/schemas/PropertySchema"
          description: For record types, the schema of the record's values. Required if type is 'record'.
          nullable: true
      required:
        - type
    ObjectSchema:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: Map of property names to their schemas. Type is always 'object' and all properties are required.
      required:
        - properties
    DetachedHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - detached
      required:
        - type
    ZoneHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - zone
        zoneId:
          type: string
      required:
        - type
        - zoneId
    SpaceHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - space
        boardId:
          type: string
        spaceId:
          type: string
      required:
        - type
        - boardId
        - spaceId
    ContainerHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - container
        boardId:
          type: string
        containerId:
          type: string
      required:
        - type
        - boardId
        - containerId
    BoardEdgeRef:
      type: object
      description: Tiled board edge identified by the spaces that border it
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 2
          uniqueItems: true
      required:
        - spaces
    EdgeHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - edge
        boardId:
          type: string
        ref:
          $ref: "#/components/schemas/BoardEdgeRef"
      required:
        - type
        - boardId
        - ref
    BoardVertexRef:
      type: object
      description: Tiled board vertex identified by the spaces that touch it
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 4
          uniqueItems: true
      required:
        - spaces
    VertexHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - vertex
        boardId:
          type: string
        ref:
          $ref: "#/components/schemas/BoardVertexRef"
      required:
        - type
        - boardId
        - ref
    PieceSlotHostRef:
      type: object
      properties:
        kind:
          type: string
          enum:
            - piece
        id:
          type: string
      required:
        - kind
        - id
    DieSlotHostRef:
      type: object
      properties:
        kind:
          type: string
          enum:
            - die
        id:
          type: string
      required:
        - kind
        - id
    SlotHostRef:
      oneOf:
        - $ref: "#/components/schemas/PieceSlotHostRef"
        - $ref: "#/components/schemas/DieSlotHostRef"
      discriminator:
        propertyName: kind
        mapping:
          piece: "#/components/schemas/PieceSlotHostRef"
          die: "#/components/schemas/DieSlotHostRef"
    SlotHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - slot
        host:
          $ref: "#/components/schemas/SlotHostRef"
        slotId:
          type: string
      required:
        - type
        - host
        - slotId
    ComponentHomeSpec:
      oneOf:
        - $ref: "#/components/schemas/DetachedHomeSpec"
        - $ref: "#/components/schemas/ZoneHomeSpec"
        - $ref: "#/components/schemas/SpaceHomeSpec"
        - $ref: "#/components/schemas/ContainerHomeSpec"
        - $ref: "#/components/schemas/EdgeHomeSpec"
        - $ref: "#/components/schemas/VertexHomeSpec"
        - $ref: "#/components/schemas/SlotHomeSpec"
      discriminator:
        propertyName: type
        mapping:
          detached: "#/components/schemas/DetachedHomeSpec"
          zone: "#/components/schemas/ZoneHomeSpec"
          space: "#/components/schemas/SpaceHomeSpec"
          container: "#/components/schemas/ContainerHomeSpec"
          edge: "#/components/schemas/EdgeHomeSpec"
          vertex: "#/components/schemas/VertexHomeSpec"
          slot: "#/components/schemas/SlotHomeSpec"
    ComponentVisibilitySpec:
      type: object
      description: Default authored visibility for a component instance
      properties:
        faceUp:
          type: boolean
          default: true
        visibleTo:
          type: array
          items:
            type: string
          description: When omitted, visible to all players
          nullable: true
    JsonValue:
      description: Arbitrary authored JSON value.
      oneOf:
        - type: string
        - type: integer
        - type: number
        - type: boolean
        - type: "null"
        - type: array
          items:
            $ref: "#/components/schemas/JsonValue"
        - type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
    BoardCard:
      type: object
      properties:
        type:
          type: string
          description: Card type identifier used to generate runtime CardIds. When count > 1, runtime IDs are generated as '{type}-1', '{type}-2', etc.
        name:
          type: string
          description: Display name of the card
        imageUrl:
          type: string
          description: URL to the card's image
          nullable: true
        text:
          type: string
          description: Text content on the card
          nullable: true
        count:
          type: integer
          format: int32
          description: Number of copies of this card
          minimum: 1
        cardType:
          type: string
          description: Optional authored card category or subtype identifier
          nullable: true
        home:
          $ref: "#/components/schemas/ComponentHomeSpec"
          description: Optional authored home for this card inventory. When omitted, cards start detached until reducer setup places them.
          nullable: true
        visibility:
          $ref: "#/components/schemas/ComponentVisibilitySpec"
          description: Default authored visibility for the card inventory
          nullable: true
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Actual property values for this specific card instance. Keys must match the properties defined in the referenced cardSchema.
          x-kotlin-type: kotlinx.serialization.json.JsonElement
      required:
        - type
        - name
        - count
        - properties
    ManualCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the card set
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - manual
          description: Type of card set source
        cardSchema:
          $ref: "#/components/schemas/ObjectSchema"
          description: Schema definition for authored card properties in this card set
          nullable: true
        cards:
          type: array
          items:
            $ref: "#/components/schemas/BoardCard"
          description: List of authored cards in this card set
          minItems: 0
      required:
        - id
        - name
        - type
        - cards
        - cardSchema
    CardSetDefinition:
      oneOf:
        - $ref: "#/components/schemas/PresetCardSetDefinition"
        - $ref: "#/components/schemas/ManualCardSetDefinition"
      discriminator:
        propertyName: type
        mapping:
          preset: "#/components/schemas/PresetCardSetDefinition"
          manual: "#/components/schemas/ManualCardSetDefinition"
    TopologyScope:
      type: string
      enum:
        - shared
        - perPlayer
      description: Whether authored topology exists once for the table or once per player
    ZoneVisibility:
      type: string
      enum:
        - ownerOnly
        - public
        - hidden
      description: Default topology visibility for a zone or slot
    ZoneSpec:
      type: object
      description: Generic authored container that can hold cards, pieces, or dice
      properties:
        id:
          type: string
          description: Stable zone identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
          description: Display name for the zone
        scope:
          $ref: "#/components/schemas/TopologyScope"
        allowedCardSetIds:
          type: array
          items:
            type: string
          description: Optional card-set restriction for this zone
          nullable: true
        visibility:
          $ref: "#/components/schemas/ZoneVisibility"
          default: public
      required:
        - id
        - name
        - scope
    BoardSpaceSpec:
      type: object
      description: Stable authored board space or slot anchor
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        name:
          type: string
          description: Human-readable space name
          nullable: true
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored fields validated against the board's spaceFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
    BoardRelationSpec:
      type: object
      description: Named relation between two authored spaces
      properties:
        id:
          type: string
          description: Optional stable relation identifier
          nullable: true
        typeId:
          type: string
          description: Relation type identifier such as adjacent, covers, blocks, or linked
        fromSpaceId:
          type: string
        toSpaceId:
          type: string
        directed:
          type: boolean
          default: false
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored relation fields validated against relationFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - typeId
        - fromSpaceId
        - toSpaceId
    BoardHostSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - board
      required:
        - type
    SpaceHostSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - space
        spaceId:
          type: string
      required:
        - type
        - spaceId
    BoardContainerHostSpec:
      oneOf:
        - $ref: "#/components/schemas/BoardHostSpec"
        - $ref: "#/components/schemas/SpaceHostSpec"
      discriminator:
        propertyName: type
        mapping:
          board: "#/components/schemas/BoardHostSpec"
          space: "#/components/schemas/SpaceHostSpec"
    BoardContainerSpec:
      type: object
      description: Authored board-attached or space-attached container/slot
      properties:
        id:
          type: string
          description: Stable container identifier local to the board
        name:
          type: string
          description: Display name for the container
        host:
          $ref: "#/components/schemas/BoardContainerHostSpec"
        allowedCardSetIds:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored container fields validated against containerFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - name
        - host
    GenericBoardTemplateSpec:
      type: object
      description: Reusable authored board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
        layout:
          type: string
          enum:
            - generic
        typeId:
          type: string
          description: Optional authored board type identifier such as track, map, tableau, or grid
          nullable: true
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        relationFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        containerFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/BoardSpaceSpec"
          default: []
        relations:
          type: array
          items:
            $ref: "#/components/schemas/BoardRelationSpec"
          default: []
        containers:
          type: array
          items:
            $ref: "#/components/schemas/BoardContainerSpec"
          default: []
      required:
        - id
        - name
        - layout
    HexOrientation:
      type: string
      enum:
        - pointy-top
        - flat-top
      description: Visual orientation for authored hex coordinates
    HexSpaceSpec:
      type: object
      description: One authored hex space in axial coordinates
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        q:
          type: integer
          format: int32
          description: Axial q coordinate
        r:
          type: integer
          format: int32
          description: Axial r coordinate
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        label:
          type: string
          description: Optional hex-space label for setup or rendering
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored fields validated against the board's spaceFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - q
        - r
    HexEdgeRef:
      type: object
      description: Hex edge identified by two adjacent hex spaces
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 2
          maxItems: 2
          uniqueItems: true
      required:
        - spaces
    HexEdgeSpec:
      type: object
      description: Authored metadata attached to one derived hex edge
      properties:
        ref:
          $ref: "#/components/schemas/HexEdgeRef"
        typeId:
          type: string
          description: Optional authored edge type identifier
          nullable: true
        label:
          type: string
          description: Optional edge label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored edge fields validated against edgeFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    HexVertexRef:
      type: object
      description: Hex vertex identified by three touching hex spaces
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 3
          maxItems: 3
          uniqueItems: true
      required:
        - spaces
    HexVertexSpec:
      type: object
      description: Authored metadata attached to one derived hex vertex
      properties:
        ref:
          $ref: "#/components/schemas/HexVertexRef"
        typeId:
          type: string
          description: Optional authored vertex type identifier
          nullable: true
        label:
          type: string
          description: Optional vertex label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored vertex fields validated against vertexFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    HexBoardTemplateSpec:
      type: object
      description: Reusable authored hex board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
        layout:
          type: string
          enum:
            - hex
        typeId:
          type: string
          description: Optional authored board type identifier
          nullable: true
        orientation:
          $ref: "#/components/schemas/HexOrientation"
          default: pointy-top
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        edgeFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        vertexFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/HexSpaceSpec"
          default: []
        edges:
          type: array
          items:
            $ref: "#/components/schemas/HexEdgeSpec"
          default: []
        vertices:
          type: array
          items:
            $ref: "#/components/schemas/HexVertexSpec"
          default: []
      required:
        - id
        - name
        - layout
    SquareSpaceSpec:
      type: object
      description: One authored square space in row/column coordinates
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        row:
          type: integer
          format: int32
          description: Zero-based row coordinate
        col:
          type: integer
          format: int32
          description: Zero-based column coordinate
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        label:
          type: string
          description: Optional square-space label for setup or rendering
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored fields validated against the board's spaceFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - row
        - col
    SquareEdgeSpec:
      type: object
      description: Authored metadata attached to one derived square edge
      properties:
        ref:
          $ref: "#/components/schemas/BoardEdgeRef"
        typeId:
          type: string
          description: Optional authored edge type identifier
          nullable: true
        label:
          type: string
          description: Optional edge label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored edge fields validated against edgeFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    SquareVertexSpec:
      type: object
      description: Authored metadata attached to one derived square vertex
      properties:
        ref:
          $ref: "#/components/schemas/BoardVertexRef"
        typeId:
          type: string
          description: Optional authored vertex type identifier
          nullable: true
        label:
          type: string
          description: Optional vertex label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored vertex fields validated against vertexFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    SquareBoardTemplateSpec:
      type: object
      description: Reusable authored square board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
        layout:
          type: string
          enum:
            - square
        typeId:
          type: string
          description: Optional authored board type identifier
          nullable: true
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        relationFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        containerFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        edgeFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        vertexFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/SquareSpaceSpec"
          default: []
        relations:
          type: array
          items:
            $ref: "#/components/schemas/BoardRelationSpec"
          default: []
        containers:
          type: array
          items:
            $ref: "#/components/schemas/BoardContainerSpec"
          default: []
        edges:
          type: array
          items:
            $ref: "#/components/schemas/SquareEdgeSpec"
          default: []
        vertices:
          type: array
          items:
            $ref: "#/components/schemas/SquareVertexSpec"
          default: []
      required:
        - id
        - name
        - layout
    BoardTemplateSpec:
      oneOf:
        - $ref: "#/components/schemas/GenericBoardTemplateSpec"
        - $ref: "#/components/schemas/HexBoardTemplateSpec"
        - $ref: "#/components/schemas/SquareBoardTemplateSpec"
      discriminator:
        propertyName: layout
        mapping:
          generic: "#/components/schemas/GenericBoardTemplateSpec"
          hex: "#/components/schemas/HexBoardTemplateSpec"
          square: "#/components/schemas/SquareBoardTemplateSpec"
    GenericBoardSpec:
      type: object
      description: Shared or per-player authored board instance shell
      properties:
        id:
          type: string
          description: Stable board identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
        layout:
          type: string
          enum:
            - generic
        typeId:
          type: string
          description: Optional authored board type identifier such as track, map, tableau, or grid
          nullable: true
        scope:
          $ref: "#/components/schemas/TopologyScope"
        templateId:
          type: string
          description: Optional board template to clone before applying inline authored additions
          nullable: true
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        relationFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        containerFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored board fields validated against boardFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/BoardSpaceSpec"
          default: []
        relations:
          type: array
          items:
            $ref: "#/components/schemas/BoardRelationSpec"
          default: []
        containers:
          type: array
          items:
            $ref: "#/components/schemas/BoardContainerSpec"
          default: []
      required:
        - id
        - name
        - layout
        - scope
    HexBoardSpec:
      type: object
      description: Shared or per-player authored hex board instance shell
      properties:
        id:
          type: string
          description: Stable board identifier
          pattern: ^[a-zA-Z][a-zA-Z0-9_-]*$
        name:
          type: string
        layout:
          type: string
          enum:
            - hex
        typeId:
          type: string
          description: Optional authored board type identifier
          nullable: true
        scope:
          $ref: "#/components/schemas/TopologyScope"
[...]
