{
  "private": true,
  "scripts": {
    "typecheck": "tsc --noEmit -p app/tsconfig.json && tsc --noEmit -p ui/tsconfig.json",
    "typecheck:app": "tsc --noEmit -p app/tsconfig.json",
    "typecheck:ui": "tsc --noEmit -p ui/tsconfig.json"
  },
  "dependencies": {
{{{deps}}}
  },
  "devDependencies": {
{{{devDeps}}}
  }
}
